<%= link_to 'Schwank Me! Create a new event.', new_event_path %>

<% if @events.blank? %>
  NO EVENTS! You should make one!
<% else %>
  <% @events.each do |event| %>
    <p><%= link_to event.hashtag, event %></p>
  <% end %>
<% end %>